*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 219, 213);
}
.card{
    height: 90%;
    max-width: 400px;
    background-color: rgb(139, 42, 42);
    color: white;
    margin: 200px auto 0;
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
    

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: white;
    color: aqua;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 18px;
    font-size: 16px;
}

.search button{
        border: 0;
    outline: 0;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search button img{
    width: 14px;
}